<section class="about">
  <div class="container">
    <div class="section-top">
      <span class="section-top__text">о нас</span>
      <h2 class="section-top__title">знакомство с sol</h2>
    </div>

    <p class="about__text">
      Бренд SOL родился в 2013 году, за эти почти 10 лет случилось много
      преобразований и возрождений бренда, но неизменными оставались
      художественный подход, спонтанность, нонконформизм, жажда развития, поиск
      новых форм, смыслов и визуальной подачи.
    </p>

    <div class="about__wrapper">
      <div class="about__left">
        <picture>
          <source srcset="img/about/1.webp" type="image/webp" />
          <img src="img/about/1.png" alt="about" />
        </picture>
      </div>
      <div class="about__middle">
        <picture>
          <source srcset="img/about/2.webp" type="image/webp" />
          <img class="about__founder-img" src="img/about/2.png" alt="about" />
        </picture>
        <h3 class="about__name">Olga Selivanova</h3>
        <span class="about__prof">создатель и дизайнер бренда SOL</span>
      </div>
      <div class="about__right">
        <picture>
          <source srcset="img/about/3.webp" type="image/webp" />
          <img src="img/about/3.png" alt="about" />
        </picture>
      </div>
    </div>
  </div>
</section>
