<div class="articles-slider">
  <div class="container">
    <div class="articles-slider__slider swiper">
      <ul class="articles-slider__slides swiper-wrapper">
        <li class="articles-slider__slide swiper-slide">
          <div class="articles-slider__imgs">
            <div class="articles-slider__img">
              <picture>
                <source srcset="img/articles/2-small.webp" type="image/webp" />
                <img src="img/articles/2-small.jpg" alt="img" />
              </picture>
            </div>
            <div class="articles-slider__img articles-slider__img--small">
              <picture>
                <source srcset="img/articles/1.webp" type="image/webp" />
                <img src="img/articles/1.jpg" alt="img" />
              </picture>
            </div>
          </div>
        </li>
        <li class="articles-slider__slide swiper-slide">
          <div class="articles-slider__imgs">
            <div class="articles-slider__img">
              <picture>
                <source srcset="img/articles/2-small.webp" type="image/webp" />
                <img src="img/articles/2-small.jpg" alt="img" />
              </picture>
            </div>
            <div class="articles-slider__img articles-slider__img--small">
              <picture>
                <source srcset="img/articles/1.webp" type="image/webp" />
                <img src="img/articles/1.jpg" alt="img" />
              </picture>
            </div>
          </div>
        </li>
        <li class="articles-slider__slide swiper-slide">
          <div class="articles-slider__imgs">
            <div class="articles-slider__img">
              <picture>
                <source srcset="img/articles/2-small.webp" type="image/webp" />
                <img src="img/articles/2-small.jpg" alt="img" />
              </picture>
            </div>
            <div class="articles-slider__img articles-slider__img--small">
              <picture>
                <source srcset="img/articles/1.webp" type="image/webp" />
                <img src="img/articles/1.jpg" alt="img" />
              </picture>
            </div>
          </div>
        </li>
      </ul>

      <div class="swiper-pagination"></div>

      <button
        class="swiper-button-next"
        type="button"
        aria-label="Следующий"
      ></button>
      <button
        class="swiper-button-prev"
        type="button"
        aria-label="Следующий"
      ></button>
    </div>
  </div>
</div>
