<section class="articles">
  <div class="container">
    <h1 class="articles__title">тренды осени 2022</h1>

    <div class="articles__articles">
      <article class="article">
        <div class="article__img">
          <picture>
            <source srcset="img/articles/1.webp" type="image/webp" />
            <img src="img/articles/1.jpg" alt="img" />
          </picture>
        </div>
        <div class="article__info">
          <h2 class="article__title">
            Небольшой заголовок второго уровня для темы блока
          </h2>
          <div class="article__text">
            <p>
              Treat yourself or a loved one to something of unique and timeless
              elegance, by indulging them with a luxurious Clive Christian®
              Perfume. Our complimenting scents make quality fragrances for him
              and her, that are carefully selected and crafted by our experts in
              perfume with the most rare and precious ingredients to develop and
              create the world’s finest and luxurious perfumes.
            </p>
            <p>
              Treat yourself or a loved one to something of unique and timeless
              elegance, by indulging them with a luxurious Clive Christian®
              Perfume. Our complimenting scents make quality fragrances for him
              and her, that are carefully selected and crafted by our experts in
              perfume with the most rare and precious ingredients to develop and
              create the world’s finest and luxurious perfumes.
            </p>
            <p>
              Treat yourself or a loved one to something of unique and timeless
              elegance, by indulging them with a luxurious Clive Christian®
              Perfume. Our complimenting scents make quality fragrances for him
              and her, that are carefully selected and crafted by our experts in
              perfume with the most rare and precious ingredients to develop and
              create the world’s finest and luxurious perfumes.
            </p>
          </div>
        </div>
      </article>

      <article class="article">
        <div class="article__img">
          <picture>
            <source srcset="img/articles/2-small.webp" type="image/webp" />
            <img src="img/articles/2-small.jpg" alt="img" />
          </picture>
          <picture>
            <source srcset="img/articles/2-small.webp" type="image/webp" />
            <img src="img/articles/2-small.jpg" alt="img" />
          </picture>
        </div>
        <div class="article__info">
          <h2 class="article__title">
            Небольшой заголовок второго уровня для темы блока
          </h2>
          <div class="article__text">
            <p>
              Treat yourself or a loved one to something of unique and timeless
              elegance, by indulging them with a luxurious Clive Christian®
              Perfume. Our complimenting scents make quality fragrances for him
              and her, that are carefully selected and crafted by our experts in
              perfume with the most rare and precious ingredients to develop and
              create the world’s finest and luxurious perfumes.
            </p>
          </div>
        </div>
      </article>

      <article class="article">
        <div class="article__img">
          <picture>
            <source srcset="img/articles/2.webp" type="image/webp" />
            <img src="img/articles/2.jpg" alt="img" />
          </picture>
        </div>
        <div class="article__info">
          <h2 class="article__title">
            Небольшой заголовок второго уровня для темы блока
          </h2>
          <ul class="article__list">
            <li class="article__item">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore
            </li>
            <li class="article__item">
              Technical information, including the Internet protocol (IP)
              address used to connect your computer to the Internet, your login
              information
            </li>
            <li class="article__item">Operating system and platform</li>
            <li class="article__item">
              Information about your visit, including the full Uniform Resource
              Locators (URL) clickstream to, through and from our site
              (including date and time); products you viewed
            </li>
            <li class="article__item">
              Information (such as scrolling, clicks, and mouse-overs), and
              methods used to browse away from the page and any phone number
              used to call
            </li>
          </ul>
        </div>
      </article>
      <article class="article">
        <div class="article__img">
          <picture>
            <source srcset="img/articles/3.webp" type="image/webp" />
            <img src="img/articles/3.jpg" alt="img" />
          </picture>
          <picture>
            <source srcset="img/articles/4.webp" type="image/webp" />
            <img src="img/articles/4.jpg" alt="img" />
          </picture>
          <picture>
            <source srcset="img/articles/5.webp" type="image/webp" />
            <img src="img/articles/5.jpg" alt="img" />
          </picture>
        </div>
        <div class="article__info">
          <h2 class="article__title">
            Небольшой заголовок второго уровня для темы блока
          </h2>
          <div class="article__text">
            <p>
              Treat yourself or a loved one to something of unique and timeless
              elegance, by indulging them with a luxurious Clive Christian®
              Perfume. Our complimenting scents make quality fragrances for him
              and her, that are carefully selected and crafted by our experts in
              perfume with the most rare and precious ingredients to develop and
              create the world’s finest and luxurious perfumes.
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
