<!-- <section class="categories">
  <div class="container">
    <div class="categories__wrapper">
      <div class="categories__img">
        <picture>
          <source srcset="img/categories/1.webp" type="image/webp" />
          <img src="img/categories/1.png" alt="img" />
        </picture>
      </div>
      <div class="categories__right">
        <h2 class="categories__title">Категории</h2>

        <div class="categories__links">
          <a class="categories__category active" href="#">ОДЕЖДА</a>
          <a class="categories__category" href="#">АКСЕССУАРЫ</a>
          <a class="categories__category" href="#">SPORT CHIC</a>
          <a class="categories__category" href="#">SOL EVENNING</a>
          <a class="categories__category" href="#">ART GALLERY</a>
        </div>

        <div class="categories__text">
          <p>
            SOL когда-то начался с чепчика и косынки для fashion съёмки — теперь
            наш бренд славится утонченными и концептуальными аксессуарами,
            которые всегда остаются в тренде и подчеркнут любой, даже самый
            базовый образ.
          </p>

          <a class="categories__link" href="#">открыть все модели</a>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="categories categories-tabs">
  <div class="container">
    <div class="categories__wrapper">
      <div class="categories__content categories-tabs-content active">
        <div class="categories__img">
          <picture>
            <source srcset="img/categories/1.webp" type="image/webp" />
            <img src="img/categories/1.png" alt="img" />
          </picture>
        </div>
        <div class="categories__text">
          <p>
            SOL когда-то начался с чепчика и косынки для fashion съёмки — теперь
            наш бренд славится утонченными и концептуальными аксессуарами,
            которые всегда остаются в тренде и подчеркнут любой, даже самый
            базовый образ.
          </p>

          <a class="categories__link" href="#">открыть все модели</a>
        </div>
      </div>

      <div class="categories__content categories-tabs-content">
        <div class="categories__img">
          <picture>
            <source srcset="img/categories/2.webp" type="image/webp" />
            <img src="img/categories/2.png" alt="img" />
          </picture>
        </div>

        <div class="categories__text">
          <p>
            SOL когда-то начался с чепчика и косынки для fashion съёмки — теперь
            наш бренд славится утонченными и концептуальными аксессуарами,
            которые всегда остаются в тренде и подчеркнут любой, даже самый
            базовый образ.
          </p>

          <a class="categories__link" href="#">открыть все модели</a>
        </div>
      </div>

      <div class="categories__content categories-tabs-content">
        <div class="categories__img">
          <picture>
            <source srcset="img/categories/3.webp" type="image/webp" />
            <img src="img/categories/3.png" alt="img" />
          </picture>
        </div>

        <div class="categories__text">
          <p>
            SOL когда-то начался с чепчика и косынки для fashion съёмки — теперь
            наш бренд славится утонченными и концептуальными аксессуарами,
            которые всегда остаются в тренде и подчеркнут любой, даже самый
            базовый образ.
          </p>

          <a class="categories__link" href="#">открыть все модели</a>
        </div>
      </div>

      <div class="categories__content categories-tabs-content">
        <div class="categories__img">
          <picture>
            <source srcset="img/categories/4.webp" type="image/webp" />
            <img src="img/categories/4.png" alt="img" />
          </picture>
        </div>

        <div class="categories__text">
          <p>
            SOL когда-то начался с чепчика и косынки для fashion съёмки — теперь
            наш бренд славится утонченными и концептуальными аксессуарами,
            которые всегда остаются в тренде и подчеркнут любой, даже самый
            базовый образ.
          </p>

          <a class="categories__link" href="#">открыть все модели</a>
        </div>
      </div>

      <div class="categories__content categories-tabs-content">
        <div class="categories__img">
          <picture>
            <source srcset="img/categories/5.webp" type="image/webp" />
            <img src="img/categories/5.png" alt="img" />
          </picture>
        </div>

        <div class="categories__text">
          <p>
            SOL когда-то начался с чепчика и косынки для fashion съёмки — теперь
            наш бренд славится утонченными и концептуальными аксессуарами,
            которые всегда остаются в тренде и подчеркнут любой, даже самый
            базовый образ.
          </p>

          <a class="categories__link" href="#">открыть все модели</a>
        </div>
      </div>

      <div class="categories__btns">
        <div class="categories__right">
          <h2 class="categories__title">Категории</h2>

          <div class="categories__links">
            <button
              class="categories__category active categories-tabs-btn"
              type="button"
            >
              ОДЕЖДА
            </button>
            <button
              class="categories__category categories-tabs-btn"
              type="button"
            >
              АКСЕССУАРЫ
            </button>
            <button
              class="categories__category categories-tabs-btn"
              type="button"
            >
              SPORT CHIC
            </button>
            <button
              class="categories__category categories-tabs-btn"
              type="button"
            >
              SOL EVENNING
            </button>
            <button
              class="categories__category categories-tabs-btn"
              type="button"
            >
              ART GALLERY
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>