<section class="collections">
  <div class="container">
    <div class="collections-top">
      <div class="collections-top__img">
        <picture>
          <source srcset="img/collections/1.webp" type="image/webp" />
          <img src="img/collections/1.jpg" alt="" />
        </picture>
      </div>
      <div class="collections-top__right">
        <div class="collections-top__info">
          <span class="collections-top__above">ss’ 2022</span>
          <h1 class="collections-top__title">Название коллекции</h1>
          <a class="collections-top__link" href="#">ОТКРЫТЬ LOOKBOOK</a>
        </div>
      </div>
    </div>

    <ul class="collections__list">
      <li class="collections__item">
        <article class="collections-card">
          <span class="collections-card__name">spring/summer 2022 </span>
          <a class="collections-card__img" href="#">
            <picture>
              <source srcset="img/collections/2.webp" type="image/webp" />
              <img src="img/collections/2.jpg" alt="collections" />
            </picture>
          </a>
          <h3 class="collections-card__title">
            <a href="#">Название коллекции</a>
          </h3>
          <a class="collections-card__link" href="#">ОТКРЫТЬ LOOKBOOK</a>
        </article>
      </li>
      <li class="collections__item">
        <article class="collections-card">
          <span class="collections-card__name">spring/summer 2022 </span>
          <a class="collections-card__img" href="#">
            <picture>
              <source srcset="img/collections/3.webp" type="image/webp" />
              <img src="img/collections/3.jpg" alt="collections" />
            </picture>
          </a>
          <h3 class="collections-card__title">
            <a href="#">Название коллекции</a>
          </h3>
          <a class="collections-card__link" href="#">ОТКРЫТЬ LOOKBOOK</a>
        </article>
      </li>
      <li class="collections__item">
        <article class="collections-card">
          <span class="collections-card__name">spring/summer 2022 </span>
          <a class="collections-card__img" href="#">
            <picture>
              <source srcset="img/collections/4.webp" type="image/webp" />
              <img src="img/collections/4.jpg" alt="collections" />
            </picture>
          </a>
          <h3 class="collections-card__title">
            <a href="#">Название коллекции</a>
          </h3>
          <a class="collections-card__link" href="#">ОТКРЫТЬ LOOKBOOK</a>
        </article>
      </li>
      <li class="collections__item">
        <article class="collections-card">
          <span class="collections-card__name">spring/summer 2022 </span>
          <a class="collections-card__img" href="#">
            <picture>
              <source srcset="img/collections/3.webp" type="image/webp" />
              <img src="img/collections/5.jpg" alt="collections" />
            </picture>
          </a>
          <h3 class="collections-card__title">
            <a href="#">Название коллекции</a>
          </h3>
          <a class="collections-card__link" href="#">ОТКРЫТЬ LOOKBOOK</a>
        </article>
      </li>
    </ul>
  </div>
</section>
