<section class="contacts">
  <div class="container">
    <h1 class="visually-hidden">Контакты</h1>
    <div class="contacts__wrapper">
      <div class="contacts__left">
        <div class="contacts__box">
          <h3 class="contacts__heading">Шоурум sol concept store</h3>
          <div class="contacts__text">
            <p>
              <svg
                width="19"
                height="13"
                viewBox="0 0 19 13"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M17.6092 11.1877L13.1833 0L9.45402 6.53491L5.72622 0L1.29884 11.1877H0V12.8749H6.68617V11.1877H5.68405L6.65854 8.39953L9.45402 13L12.2495 8.39953L13.224 11.1877H12.2219V12.8749H18.908V11.1877H17.6092Z"
                  fill="#202020"
                />
              </svg>
              Москва, м. 1905 года
            </p>

            <p>
              ул. 2-я Черногрязская, д. 6/1 (ЖК Red Side, отдельный вход с
              торца).
            </p>
            <p>В навигаторе укажите метку Sol Concept Store.</p>
            <p>
              Время работы: Пн — Пт 11: 00 — 20: 00, Сб — Вс 13: 00 — 20: 00
            </p>
          </div>
        </div>
        <div class="contacts__box">
          <h3 class="contacts__heading">контакты</h3>
          <div class="contacts__text">
            <p>
              Вы можете предварительно согласовать удобное время для визита:
            </p>

            <a
              class="contacts__link contacts__link--phone"
              href="tel:+79150440440"
            >
              +7 (915) 044 04 40
            </a>
            <a
              class="contacts__link contacts__link--mail"
              href="mailto:info@solconceptstopre.ru"
            >
              info@solconceptstopre.ru
            </a>
          </div>
        </div>
      </div>

      <div class="contacts__map map">
        <iframe
          src="https://yandex.ru/map-widget/v1/?um=constructor%3Ae01bee18cb76cc3caa0d9558d9f626b5d654d445b1008ef290157caa1b5be2e1&amp;source=constructor"
          width="630"
          height="630"
          frameborder="0"
        ></iframe>
      </div>
    </div>
  </div>
</section>
