<section class="delivery">
  <div class="container">
    <div class="delivery__wrapper">
      <h2 class="delivery__title">Доставка и оплата</h2>

      <div class="delivery__box">
        <div class="delivery__text">
          <p>При покупке от 30 000 рублей доставка бесплатная.</p>
          <p>
            Доставка с примеркой возможна только по Москве в пределах МКАД.
            <br />
            Если изделие вам не подошло, вы оплачиваете только сумму доставки
            (изделие, при этом возвращается курьером).
          </p>
        </div>
      </div>

      <div class="delivery__box">
        <span class="delivery__name">СПОСОБЫ ОПЛАТЫ:</span>
        <div class="delivery__text">
          <p>— Картой онлайн или при самовывозе</p>
          <div class="payment-methods">
            <img src="img/payment/1.svg" alt="img" />
            <img src="img/payment/2.svg" alt="img" />
            <img src="img/payment/3.svg" alt="img" />
          </div>
        </div>
      </div>

      <div class="delivery__box">
        <span class="delivery__name">САМОВЫВОЗ ИЗ ШОУРУМА</span>
        <div class="delivery__text">
          Наш шоурум находится в г. Москва, м. 1905 года, район Красная Пресня,
          ул. 2-я Черногрязская, д.6, корп.1 (ЖК Red Side, отдельный вход с
          торца). <br />
          В навигаторе укажите метку Sol Concept Store. <br />
          Время работы: Пн — Пт 11: 00 — 20: 00, Сб — Вс 13: 00 — 20: 00 <br />
          Вы можете предварительно согласовать удобное для вас время для визита.
          <br />
          Оплата картой или наличными.
        </div>
      </div>

      <div class="delivery__box">
        <span class="delivery__name">ПУНКТЫ САМОВЫВОЗА СДЭК</span>
        <div class="delivery__text">
          Стоимость доставки в любой пункт в России - 500 рублей. <br />
          При сумме заказа от 30 000 рублей - бесплатно. <br />
          Оплата картой на сайте.
        </div>
      </div>

      <div class="delivery__box">
        <span class="delivery__name">ДОСТАВКА С ПРИМЕРКОЙ ПО МОСКВЕ</span>
        <div class="delivery__text">
          Стоимость доставки в пределах МКАД - 500 рублей. <br />
          При сумме заказа от 30 000 рублей - бесплатно. <br />
          Если изделие вам не подошло, вы оплачиваете стоимость доставки.
          Изделие при этом возвращаете курьеру. <br />
          Оплата картой по ссылке, наличными при получении.
        </div>
      </div>

      <div class="delivery__box">
        <span class="delivery__name">ДОСТАВКА КУРЬЕРОМ ПО РОССИИ</span>
        <div class="delivery__text">
          Стоимость доставки рассчитывается при оформлении заказа и зависит от
          адреса.
        </div>
      </div>
    </div>
  </div>
</section>
