<section class="exclusive">
  <div class="container">
    <div class="section-top">
      <span class="section-top__text">EXCLUSIVE</span>
    </div>

    <div class="exclusive__wrapper">
      <h2 class="exclusive__title">
        <span>SOL VINTAGE</span>
        <span>SOL VINTAGE</span>
      </h2>
      
      <div class="exclusive__img">
        <picture>
          <source srcset="img/exclusive-img.webp" type="image/webp" />
          <img src="img/exclusive-img.png" alt="img" />
        </picture>
      </div>

      <a class="exclusive__link anim-link-underline" href="#">ОТКРЫТЬ КАТАЛОГ</a>
    </div>
  </div>
</section>
