<section class="get-sale">
  <div class="container">
    <div class="get-sale__wrapper">
      <h2 class="get-sale__title">
        ВЕРНИ ВЕЩЬ <br />
        БРЕНДА SOL — <br />
        <span>получи скидку</span>
      </h2>
      <div class="get-sale__img">
        <picture>
          <source srcset="img/get-sale-img.webp" type="image/webp" />
          <img src="img/get-sale-img.png" alt="img" />
        </picture>
      </div>

      <div class="get-sale__text">
        <p>
          SOL когда-то начался с чепчика и косынки для fashion съёмки — теперь
          наш бренд славится утонченными и концептуальными аксессуарами, которые
          всегда остаются в тренде и подчеркнут любой, даже самый базовый образ.
        </p>

        <a class="get-sale__link anim-link-underline" href="#">УЗНАТЬ ПОДРОБНЕЕ</a>
      </div>
    </div>
  </div>
</section>
