<section class="gift-card">
  <div class="container">
    <div class="gift-card__wrapper">
      <div class="gift-card__img">
        <picture>
          <source srcset="img/gift-card.webp" type="image/webp" />
          <img src="img/gift-card.jpg" alt="gift-card" />
        </picture>
      </div>
      <div class="gift-card__right">
        <span class="gift-card__art">АРТ. FW2215020WS</span>

        <h1 class="gift-card__title">Подарочный сертификат</h1>
        <span class="gift-card__price">10 000 ₽</span>

        <div class="gift-card__boxes">
          <div class="gift-card__box">
            <span class="gift-card__name">Выберите тип</span>
            <select class="gift-card__select">
              <option value="1">Электронный</option>
              <option value="2">Физический</option>
            </select>
          </div>

          <div class="gift-card__box">
            <span class="gift-card__name">Выберите тип</span>
            <select class="gift-card__select">
              <option value="1">10 000</option>
              <option value="2">15 000</option>
              <option value="2">20 000</option>
              <option value="2">50 000</option>
            </select>
          </div>
        </div>

        <div class="gift-card__btns">
          <button class="gift-card__btn btn" type="button">
            Добавить в корзину
          </button>
          <button class="gift-card__add-fav">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M11.7758 6.44051L12.2627 6.91199L12.7497 6.44049C13.2109 5.99392 14.2764 5.19383 15.5537 4.85655C16.7878 4.53069 18.2074 4.63186 19.5569 5.9383C20.9013 7.23989 20.9971 8.59385 20.6669 9.76564C20.3218 10.9906 19.5005 12.0181 19.0379 12.4658C18.519 12.9681 16.7035 14.726 15.0178 16.3582L12.7648 18.5397L12.263 19.0256L11.7613 18.5398L9.50843 16.3582C7.82284 14.726 6.00747 12.9681 5.4886 12.4658C5.02609 12.0181 4.20468 10.9905 3.85943 9.76542C3.52915 8.59349 3.62476 7.23953 4.96896 5.9381C6.31819 4.63181 7.73771 4.53068 8.97175 4.85657C10.249 5.19388 11.3146 5.99397 11.7758 6.44051Z"
                stroke="#202020"
                stroke-width="1.4"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
