<header class="header header--relative">
  <!-- Mobile Menu -->
  <div class="overlay"></div>

  <div class="mobile-menu">
    <div class="mobile-menu__top">
      <ul class="mobile-tools">
        <li class="mobile-tools__item">
          <button
            class="mobile-menu__close"
            type="button"
            aria-label="Закрыть меню"
          >
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6 6L18 18"
                stroke="#f1ebda"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M18 6L6 18"
                stroke="#f1ebda"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
        </li>
        <li class="mobile-tools__item">
          <button class="header__search-btn show-search" type="button">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle
                cx="11.3846"
                cy="11.3846"
                r="6.68462"
                stroke="#202020"
                stroke-width="1.4"
              />
              <path
                d="M16.3076 16.3081L19.9999 20.0004"
                stroke="#202020"
                stroke-width="1.4"
              />
            </svg>
          </button>
        </li>
      </ul>

      <a class="mobile-menu__logo logo" href="#">
        <img src="img/logo.svg" alt="логотип" />
      </a>

      <ul class="mobile-tools">
        <li class="mobile-tools__item">
          <a class="mobile-tools__link" href="#">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M11.7758 6.44051L12.2627 6.91199L12.7497 6.44049C13.2109 5.99392 14.2764 5.19383 15.5537 4.85655C16.7878 4.53069 18.2074 4.63186 19.5569 5.9383C20.9013 7.23989 20.9971 8.59385 20.6669 9.76564C20.3218 10.9906 19.5005 12.0181 19.0379 12.4658C18.519 12.9681 16.7035 14.726 15.0178 16.3582L12.7648 18.5397L12.263 19.0256L11.7613 18.5398L9.50843 16.3582C7.82284 14.726 6.00747 12.9681 5.4886 12.4658C5.02609 12.0181 4.20468 10.9905 3.85943 9.76542C3.52915 8.59349 3.62476 7.23953 4.96896 5.9381C6.31819 4.63181 7.73771 4.53068 8.97175 4.85657C10.249 5.19388 11.3146 5.99397 11.7758 6.44051Z"
                stroke="#202020"
                stroke-width="1.4"
              />
            </svg>
            <span class="count"> 12 </span>
          </a>
        </li>
        <li class="mobile-tools__item">
          <a class="mobile-tools__link" href="#">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9.57129 7.80952V6.97533C9.57129 6.29698 9.8726 5.65367 10.3937 5.2194V5.2194C11.2414 4.51303 12.4726 4.51303 13.3203 5.2194V5.2194C13.8414 5.65367 14.1427 6.29698 14.1427 6.97533V7.80952"
                stroke="#202020"
                stroke-width="1.4"
              />
              <path
                d="M18.7143 20.0002H5L6.54364 10.9956C6.70825 10.0354 7.54071 9.3335 8.51489 9.3335H15.1994C16.1736 9.3335 17.006 10.0354 17.1706 10.9956L18.7143 20.0002Z"
                stroke="#202020"
                stroke-width="1.4"
              />
            </svg>
            <span class="count"> 12 </span>
          </a>
        </li>
      </ul>
    </div>

    <div class="mobile-menu__body">
      <ul class="mobile-menu__list">
        <li class="mobile-menu__item">
          <div class="menu-mobile-box accordion">
            <div class="menu-mobile-box__top">
              <a class="menu-mobile-box__name" href="#"> Магазин </a>
              <button class="accordion-control">
                <svg>
                  <use xlink:href="img/sprite.svg#chevron"></use>
                </svg>
              </button>
            </div>

            <div class="menu-mobile-box__content accordion-content">
              <ul class="menu-mobile-box__list">
                <li class="menu-mobile-box__item">
                  <div class="drop-box">
                    <div class="drop-box__top">
                      <a class="drop-box__name" href="#"> Магазин </a>

                      <button class="drop-box__control">
                        <svg>
                          <use xlink:href="img/sprite.svg#chevron"></use>
                        </svg>
                      </button>
                    </div>

                    <div class="drop-box__content">
                      <ul class="drop-box__list">
                        <li class="drop-box__item">
                          <a class="drop-box__link" href="#">
                            <span>Блузки </span> <span>Рубашки</span>
                          </a>
                        </li>
                        <li class="drop-box__item">
                          <a class="drop-box__link" href="#">
                            <span>Брюки</span> <span>Джинсы </span>
                            <span>Леггинсы</span>
                          </a>
                        </li>
                        <li class="drop-box__item">
                          <a class="drop-box__link" href="#">
                            <span>Верхняя одежда</span>
                          </a>
                        </li>
                        <li class="drop-box__item">
                          <a class="drop-box__link" href="#">
                            <span>Кимоно</span>
                          </a>
                        </li>
                        <li class="drop-box__item">
                          <a class="drop-box__link" href="#">
                            <span>Нижнее белье</span>
                          </a>
                        </li>
                        <li class="drop-box__item">
                          <a class="drop-box__link" href="#">
                            <span>Пиджаки </span> <span>Костюмы</span>
                            <span>Жилеты белье</span>
                          </a>
                        </li>
                        <li class="drop-box__item">
                          <a class="drop-box__link" href="#">
                            <span>Платья</span>
                          </a>
                        </li>
                        <li class="drop-box__item">
                          <a class="drop-box__link" href="#">
                            <span>Футболки </span> <span>Топы</span>
                            <span>Майки</span>
                          </a>
                        </li>
                        <li class="drop-box__item">
                          <a class="drop-box__link" href="#">
                            <span>Худи </span> <span>Толстовки</span>
                            <span>Лонгсливы</span>
                          </a>
                        </li>
                        <li class="drop-box__item">
                          <a class="drop-box__link" href="#">
                            <span>Шорты </span>
                          </a>
                        </li>
                        <li class="drop-box__item">
                          <a class="drop-box__link" href="#">
                            <span>Юбки </span>
                          </a>
                        </li>
                        <li class="drop-box__item">
                          <a class="drop-box__link" href="#">
                            <span>SOL Evening </span>
                          </a>
                        </li>
                        <li class="drop-box__item">
                          <a class="drop-box__link" href="#">
                            <span>Sport Chic</span>
                          </a>
                        </li>
                        <li class="drop-box__item">
                          <a class="drop-box__link" href="#">
                            <span>Аксессуары</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="menu-mobile-box__item">
                  <div class="drop-box">
                    <div class="drop-box__top">
                      <a class="drop-box__name" href="#"> Магазин </a>

                      <button class="drop-box__control">
                        <svg>
                          <use xlink:href="img/sprite.svg#chevron"></use>
                        </svg>
                      </button>
                    </div>

                    <div class="drop-box__content">
                      <ul class="drop-box__list">
                        <li class="drop-box__item">
                          <a class="drop-box__link" href="#">
                            <span>Блузки </span> <span>Рубашки</span>
                          </a>
                        </li>
                        <li class="drop-box__item">
                          <a class="drop-box__link" href="#">
                            <span>Брюки</span> <span>Джинсы </span>
                            <span>Леггинсы</span>
                          </a>
                        </li>
                        <li class="drop-box__item">
                          <a class="drop-box__link" href="#">
                            <span>Верхняя одежда</span>
                          </a>
                        </li>
                        <li class="drop-box__item">
                          <a class="drop-box__link" href="#">
                            <span>Кимоно</span>
                          </a>
                        </li>
                        <li class="drop-box__item">
                          <a class="drop-box__link" href="#">
                            <span>Нижнее белье</span>
                          </a>
                        </li>
                        <li class="drop-box__item">
                          <a class="drop-box__link" href="#">
                            <span>Пиджаки </span> <span>Костюмы</span>
                            <span>Жилеты белье</span>
                          </a>
                        </li>
                        <li class="drop-box__item">
                          <a class="drop-box__link" href="#">
                            <span>Платья</span>
                          </a>
                        </li>
                        <li class="drop-box__item">
                          <a class="drop-box__link" href="#">
                            <span>Футболки </span> <span>Топы</span>
                            <span>Майки</span>
                          </a>
                        </li>
                        <li class="drop-box__item">
                          <a class="drop-box__link" href="#">
                            <span>Худи </span> <span>Толстовки</span>
                            <span>Лонгсливы</span>
                          </a>
                        </li>
                        <li class="drop-box__item">
                          <a class="drop-box__link" href="#">
                            <span>Шорты </span>
                          </a>
                        </li>
                        <li class="drop-box__item">
                          <a class="drop-box__link" href="#">
                            <span>Юбки </span>
                          </a>
                        </li>
                        <li class="drop-box__item">
                          <a class="drop-box__link" href="#">
                            <span>SOL Evening </span>
                          </a>
                        </li>
                        <li class="drop-box__item">
                          <a class="drop-box__link" href="#">
                            <span>Sport Chic</span>
                          </a>
                        </li>
                        <li class="drop-box__item">
                          <a class="drop-box__link" href="#">
                            <span>Аксессуары</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#">sol vINTAGE</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#">ART GALLERY</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#">The world of SOL</a>
        </li>
      </ul>
    </div>

    <div class="mobile-menu__bottom">
      <div class="mobile-menu__btns">
        <a class="mobile-menu__btn" href="">ВОЙТИ</a>
        <a class="mobile-menu__btn" href="">РЕГИСТРАЦИЯ</a>
      </div>
      <p>© 2022 «SOL» All rights reserved</p>
    </div>
  </div>
  <!-- Mobile Menu -->

  <div class="site-note">
    <div class="container">
      <div class="site-note__inner">
        <p>Бесплатная доставка от 30 000 рублей</p>
        <button class="site-note__close">
          <svg
            width="25"
            height="25"
            viewBox="0 0 25 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M18 7L8 17"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M8 7L18 17"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Cart Side -->
  <div class="cart-side">
    <div class="cart-side__top">
      <span class="cart-side__name">корзина</span>
      <a class="cart-side__cart" href="#">
        <svg
          width="44"
          height="44"
          viewBox="0 0 44 44"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M31 32.5H13L15.1151 20.1621C15.2797 19.2019 16.1121 18.5 17.0863 18.5H26.9137C27.8879 18.5 28.7203 19.2019 28.8849 20.1621L31 32.5Z"
            stroke="currentColor"
            stroke-width="1.4"
          />
          <path
            d="M31 32.5H13L15.1151 20.1621C15.2797 19.2019 16.1121 18.5 17.0863 18.5H26.9137C27.8879 18.5 28.7203 19.2019 28.8849 20.1621L31 32.5Z"
            stroke="currentColor"
            stroke-opacity="0.2"
            stroke-width="1.4"
          />
          <path
            d="M19 16.5V15.4051C19 14.5148 19.3955 13.6704 20.0794 13.1005V13.1005C21.192 12.1733 22.808 12.1733 23.9206 13.1005V13.1005C24.6045 13.6704 25 14.5148 25 15.4051V16.5"
            stroke="currentColor"
            stroke-width="1.4"
          />
          <path
            d="M19 16.5V15.4051C19 14.5148 19.3955 13.6704 20.0794 13.1005V13.1005C21.192 12.1733 22.808 12.1733 23.9206 13.1005V13.1005C24.6045 13.6704 25 14.5148 25 15.4051V16.5"
            stroke="currentColor"
            stroke-opacity="0.2"
            stroke-width="1.4"
          />
        </svg>
        <span class="cart-count">2</span>
      </a>
      <button class="cart-side__close" type="button">
        <svg
          width="12"
          height="12"
          viewBox="0 0 12 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M11 1L1 11"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M1 1L11 11"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
    <div class="cart-side__body">
      <ul class="cart-side__list">
        <li class="cart-side__item">
          <article class="cart-product">
            <div class="cart-product__left">
              <picture>
                <source srcset="img/product/2.webp" type="image/webp" />
                <img src="img/product/2.png" alt="img" />
              </picture>
            </div>
            <div class="cart-product__right">
              <div class="cart-product__inner">
                <div class="cart-product__top">
                  <h3 class="cart-product__title">
                    <a href="#"> Накидка из плиссированной сетчатой ткани</a>
                  </h3>
                  <span class="cart-product__price">15 000 ₽</span>
                </div>
                <div class="cart-product__details">
                  <div class="cart-product__color">
                    <span></span>
                    Молочный
                  </div>
                  <div class="cart-product__size">XS</div>
                  <button class="cart-product__remove">
                    <svg
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g opacity="1">
                        <path
                          d="M4 4L16 16"
                          stroke="currentColor"
                          stroke-width="1.4"
                        />
                        <path
                          d="M4 4L16 16"
                          stroke="currentColor"
                          stroke-opacity="1"
                          stroke-width="1.4"
                        />
                        <path
                          d="M4 16L16 4"
                          stroke="currentColor"
                          stroke-width="1.4"
                        />
                        <path
                          d="M4 16L16 4"
                          stroke="currentColor"
                          stroke-opacity="1"
                          stroke-width="1.4"
                        />
                      </g>
                    </svg>
                  </button>
                </div>
                <div class="cart-product__bottom">
                  <div class="cart-product__counter counter">
                    <button
                      class="counter__btn counter__btn--decrease"
                      type="button"
                      aria-label="Добавить"
                    >
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <rect
                          x="1"
                          y="12"
                          width="1"
                          height="15"
                          transform="rotate(-90 1 12)"
                          fill="black"
                        />
                        <rect
                          x="1"
                          y="12"
                          width="1"
                          height="15"
                          transform="rotate(-90 1 12)"
                          fill="black"
                          fill-opacity="0.2"
                        />
                      </svg>
                    </button>
                    <input class="counter__input" type="number" value="1" />
                    <button
                      class="counter__btn counter__btn--increase"
                      type="button"
                      aria-label="Вычесть"
                    >
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <rect x="8" y="4" width="1" height="15" fill="black" />
                        <rect
                          x="8"
                          y="4"
                          width="1"
                          height="15"
                          fill="black"
                          fill-opacity="0.2"
                        />
                        <rect
                          x="1"
                          y="12"
                          width="1"
                          height="15"
                          transform="rotate(-90 1 12)"
                          fill="black"
                        />
                        <rect
                          x="1"
                          y="12"
                          width="1"
                          height="15"
                          transform="rotate(-90 1 12)"
                          fill="black"
                          fill-opacity="0.2"
                        />
                      </svg>
                    </button>
                  </div>
                  <div class="cart-product__badge">SOLD OUT</div>
                  <button class="cart-product__add-fav" type="button">
                    Добавить в избранное
                  </button>
                </div>
              </div>
            </div>
          </article>
        </li>
        <li class="cart-side__item">
          <article class="cart-product cart-product--sold-out">
            <div class="cart-product__left">
              <picture>
                <source srcset="img/product/1.webp" type="image/webp" />
                <img src="img/product/1.png" alt="img" />
              </picture>
            </div>
            <div class="cart-product__right">
              <div class="cart-product__inner">
                <div class="cart-product__top">
                  <h3 class="cart-product__title">
                    <a href="#">Накидка из плиссированной сетчатой ткани</a>
                  </h3>
                  <span class="cart-product__price">15 000 ₽</span>
                </div>
                <div class="cart-product__details">
                  <div class="cart-product__color">
                    <span></span>
                    Молочный
                  </div>
                  <div class="cart-product__size">XS</div>
                  <button class="cart-product__remove">
                    <svg
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g opacity="1">
                        <path
                          d="M4 4L16 16"
                          stroke="currentColor"
                          stroke-width="1.4"
                        />
                        <path
                          d="M4 4L16 16"
                          stroke="currentColor"
                          stroke-opacity="1"
                          stroke-width="1.4"
                        />
                        <path
                          d="M4 16L16 4"
                          stroke="currentColor"
                          stroke-width="1.4"
                        />
                        <path
                          d="M4 16L16 4"
                          stroke="currentColor"
                          stroke-opacity="1"
                          stroke-width="1.4"
                        />
                      </g>
                    </svg>
                  </button>
                </div>
                <div class="cart-product__bottom">
                  <div class="cart-product__counter counter">
                    <button
                      class="counter__btn counter__btn--decrease"
                      type="button"
                      aria-label="Добавить"
                    >
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <rect
                          x="1"
                          y="12"
                          width="1"
                          height="15"
                          transform="rotate(-90 1 12)"
                          fill="black"
                        />
                        <rect
                          x="1"
                          y="12"
                          width="1"
                          height="15"
                          transform="rotate(-90 1 12)"
                          fill="black"
                          fill-opacity="0.2"
                        />
                      </svg>
                    </button>
                    <input class="counter__input" type="number" value="1" />
                    <button
                      class="counter__btn counter__btn--increase"
                      type="button"
                      aria-label="Вычесть"
                    >
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <rect x="8" y="4" width="1" height="15" fill="black" />
                        <rect
                          x="8"
                          y="4"
                          width="1"
                          height="15"
                          fill="black"
                          fill-opacity="0.2"
                        />
                        <rect
                          x="1"
                          y="12"
                          width="1"
                          height="15"
                          transform="rotate(-90 1 12)"
                          fill="black"
                        />
                        <rect
                          x="1"
                          y="12"
                          width="1"
                          height="15"
                          transform="rotate(-90 1 12)"
                          fill="black"
                          fill-opacity="0.2"
                        />
                      </svg>
                    </button>
                  </div>
                  <div class="cart-product__badge">SOLD OUT</div>
                  <button class="cart-product__add-fav" type="button">
                    Добавить в избранное
                  </button>
                </div>
              </div>
            </div>
          </article>
        </li>
        <li class="cart-side__item">
          <article class="cart-product">
            <div class="cart-product__left">
              <picture>
                <source srcset="img/product/2.webp" type="image/webp" />
                <img src="img/product/2.png" alt="img" />
              </picture>
            </div>
            <div class="cart-product__right">
              <div class="cart-product__inner">
                <div class="cart-product__top">
                  <h3 class="cart-product__title">
                    <a href="#"> Накидка из плиссированной сетчатой ткани</a>
                  </h3>
                  <span class="cart-product__price">15 000 ₽</span>
                </div>
                <div class="cart-product__details">
                  <div class="cart-product__color">
                    <span></span>
                    Молочный
                  </div>
                  <div class="cart-product__size">XS</div>
                  <button class="cart-product__remove">
                    <svg
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g opacity="1">
                        <path
                          d="M4 4L16 16"
                          stroke="currentColor"
                          stroke-width="1.4"
                        />
                        <path
                          d="M4 4L16 16"
                          stroke="currentColor"
                          stroke-opacity="1"
                          stroke-width="1.4"
                        />
                        <path
                          d="M4 16L16 4"
                          stroke="currentColor"
                          stroke-width="1.4"
                        />
                        <path
                          d="M4 16L16 4"
                          stroke="currentColor"
                          stroke-opacity="1"
                          stroke-width="1.4"
                        />
                      </g>
                    </svg>
                  </button>
                </div>
                <div class="cart-product__bottom">
                  <div class="cart-product__counter counter">
                    <button
                      class="counter__btn counter__btn--decrease"
                      type="button"
                      aria-label="Добавить"
                    >
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <rect
                          x="1"
                          y="12"
                          width="1"
                          height="15"
                          transform="rotate(-90 1 12)"
                          fill="black"
                        />
                        <rect
                          x="1"
                          y="12"
                          width="1"
                          height="15"
                          transform="rotate(-90 1 12)"
                          fill="black"
                          fill-opacity="0.2"
                        />
                      </svg>
                    </button>
                    <input class="counter__input" type="number" value="1" />
                    <button
                      class="counter__btn counter__btn--increase"
                      type="button"
                      aria-label="Вычесть"
                    >
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <rect x="8" y="4" width="1" height="15" fill="black" />
                        <rect
                          x="8"
                          y="4"
                          width="1"
                          height="15"
                          fill="black"
                          fill-opacity="0.2"
                        />
                        <rect
                          x="1"
                          y="12"
                          width="1"
                          height="15"
                          transform="rotate(-90 1 12)"
                          fill="black"
                        />
                        <rect
                          x="1"
                          y="12"
                          width="1"
                          height="15"
                          transform="rotate(-90 1 12)"
                          fill="black"
                          fill-opacity="0.2"
                        />
                      </svg>
                    </button>
                  </div>
                  <div class="cart-product__badge">SOLD OUT</div>
                  <button class="cart-product__add-fav" type="button">
                    Добавить в избранное
                  </button>
                </div>
              </div>
            </div>
          </article>
        </li>
        <li class="cart-side__item">
          <article class="cart-product cart-product--sold-out">
            <div class="cart-product__left">
              <picture>
                <source srcset="img/product/1.webp" type="image/webp" />
                <img src="img/product/1.png" alt="img" />
              </picture>
            </div>
            <div class="cart-product__right">
              <div class="cart-product__inner">
                <div class="cart-product__top">
                  <h3 class="cart-product__title">
                    <a href="#">Накидка из плиссированной сетчатой ткани</a>
                  </h3>
                  <span class="cart-product__price">15 000 ₽</span>
                </div>
                <div class="cart-product__details">
                  <div class="cart-product__color">
                    <span></span>
                    Молочный
                  </div>
                  <div class="cart-product__size">XS</div>
                  <button class="cart-product__remove">
                    <svg
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g opacity="1">
                        <path
                          d="M4 4L16 16"
                          stroke="currentColor"
                          stroke-width="1.4"
                        />
                        <path
                          d="M4 4L16 16"
                          stroke="currentColor"
                          stroke-opacity="1"
                          stroke-width="1.4"
                        />
                        <path
                          d="M4 16L16 4"
                          stroke="currentColor"
                          stroke-width="1.4"
                        />
                        <path
                          d="M4 16L16 4"
                          stroke="currentColor"
                          stroke-opacity="1"
                          stroke-width="1.4"
                        />
                      </g>
                    </svg>
                  </button>
                </div>
                <div class="cart-product__bottom">
                  <div class="cart-product__counter counter">
                    <button
                      class="counter__btn counter__btn--decrease"
                      type="button"
                      aria-label="Добавить"
                    >
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <rect
                          x="1"
                          y="12"
                          width="1"
                          height="15"
                          transform="rotate(-90 1 12)"
                          fill="black"
                        />
                        <rect
                          x="1"
                          y="12"
                          width="1"
                          height="15"
                          transform="rotate(-90 1 12)"
                          fill="black"
                          fill-opacity="0.2"
                        />
                      </svg>
                    </button>
                    <input class="counter__input" type="number" value="1" />
                    <button
                      class="counter__btn counter__btn--increase"
                      type="button"
                      aria-label="Вычесть"
                    >
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <rect x="8" y="4" width="1" height="15" fill="black" />
                        <rect
                          x="8"
                          y="4"
                          width="1"
                          height="15"
                          fill="black"
                          fill-opacity="0.2"
                        />
                        <rect
                          x="1"
                          y="12"
                          width="1"
                          height="15"
                          transform="rotate(-90 1 12)"
                          fill="black"
                        />
                        <rect
                          x="1"
                          y="12"
                          width="1"
                          height="15"
                          transform="rotate(-90 1 12)"
                          fill="black"
                          fill-opacity="0.2"
                        />
                      </svg>
                    </button>
                  </div>
                  <div class="cart-product__badge">SOLD OUT</div>
                  <button class="cart-product__add-fav" type="button">
                    Добавить в избранное
                  </button>
                </div>
              </div>
            </div>
          </article>
        </li>
        <li class="cart-side__item">
          <article class="cart-product">
            <div class="cart-product__left">
              <picture>
                <source srcset="img/product/2.webp" type="image/webp" />
                <img src="img/product/2.png" alt="img" />
              </picture>
            </div>
            <div class="cart-product__right">
              <div class="cart-product__inner">
                <div class="cart-product__top">
                  <h3 class="cart-product__title">
                    <a href="#"> Накидка из плиссированной сетчатой ткани</a>
                  </h3>
                  <span class="cart-product__price">15 000 ₽</span>
                </div>
                <div class="cart-product__details">
                  <div class="cart-product__color">
                    <span></span>
                    Молочный
                  </div>
                  <div class="cart-product__size">XS</div>
                  <button class="cart-product__remove">
                    <svg
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g opacity="1">
                        <path
                          d="M4 4L16 16"
                          stroke="currentColor"
                          stroke-width="1.4"
                        />
                        <path
                          d="M4 4L16 16"
                          stroke="currentColor"
                          stroke-opacity="1"
                          stroke-width="1.4"
                        />
                        <path
                          d="M4 16L16 4"
                          stroke="currentColor"
                          stroke-width="1.4"
                        />
                        <path
                          d="M4 16L16 4"
                          stroke="currentColor"
                          stroke-opacity="1"
                          stroke-width="1.4"
                        />
                      </g>
                    </svg>
                  </button>
                </div>
                <div class="cart-product__bottom">
                  <div class="cart-product__counter counter">
                    <button
                      class="counter__btn counter__btn--decrease"
                      type="button"
                      aria-label="Добавить"
                    >
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <rect
                          x="1"
                          y="12"
                          width="1"
                          height="15"
                          transform="rotate(-90 1 12)"
                          fill="black"
                        />
                        <rect
                          x="1"
                          y="12"
                          width="1"
                          height="15"
                          transform="rotate(-90 1 12)"
                          fill="black"
                          fill-opacity="0.2"
                        />
                      </svg>
                    </button>
                    <input class="counter__input" type="number" value="1" />
                    <button
                      class="counter__btn counter__btn--increase"
                      type="button"
                      aria-label="Вычесть"
                    >
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <rect x="8" y="4" width="1" height="15" fill="black" />
                        <rect
                          x="8"
                          y="4"
                          width="1"
                          height="15"
                          fill="black"
                          fill-opacity="0.2"
                        />
                        <rect
                          x="1"
                          y="12"
                          width="1"
                          height="15"
                          transform="rotate(-90 1 12)"
                          fill="black"
                        />
                        <rect
                          x="1"
                          y="12"
                          width="1"
                          height="15"
                          transform="rotate(-90 1 12)"
                          fill="black"
                          fill-opacity="0.2"
                        />
                      </svg>
                    </button>
                  </div>
                  <div class="cart-product__badge">SOLD OUT</div>
                  <button class="cart-product__add-fav" type="button">
                    Добавить в избранное
                  </button>
                </div>
              </div>
            </div>
          </article>
        </li>
        <li class="cart-side__item">
          <article class="cart-product cart-product--sold-out">
            <div class="cart-product__left">
              <picture>
                <source srcset="img/product/1.webp" type="image/webp" />
                <img src="img/product/1.png" alt="img" />
              </picture>
            </div>
            <div class="cart-product__right">
              <div class="cart-product__inner">
                <div class="cart-product__top">
                  <h3 class="cart-product__title">
                    <a href="#">Накидка из плиссированной сетчатой ткани</a>
                  </h3>
                  <span class="cart-product__price">15 000 ₽</span>
                </div>
                <div class="cart-product__details">
                  <div class="cart-product__color">
                    <span></span>
                    Молочный
                  </div>
                  <div class="cart-product__size">XS</div>
                  <button class="cart-product__remove">
                    <svg
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g opacity="1">
                        <path
                          d="M4 4L16 16"
                          stroke="currentColor"
                          stroke-width="1.4"
                        />
                        <path
                          d="M4 4L16 16"
                          stroke="currentColor"
                          stroke-opacity="1"
                          stroke-width="1.4"
                        />
                        <path
                          d="M4 16L16 4"
                          stroke="currentColor"
                          stroke-width="1.4"
                        />
                        <path
                          d="M4 16L16 4"
                          stroke="currentColor"
                          stroke-opacity="1"
                          stroke-width="1.4"
                        />
                      </g>
                    </svg>
                  </button>
                </div>
                <div class="cart-product__bottom">
                  <div class="cart-product__counter counter">
                    <button
                      class="counter__btn counter__btn--decrease"
                      type="button"
                      aria-label="Добавить"
                    >
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <rect
                          x="1"
                          y="12"
                          width="1"
                          height="15"
                          transform="rotate(-90 1 12)"
                          fill="black"
                        />
                        <rect
                          x="1"
                          y="12"
                          width="1"
                          height="15"
                          transform="rotate(-90 1 12)"
                          fill="black"
                          fill-opacity="0.2"
                        />
                      </svg>
                    </button>
                    <input class="counter__input" type="number" value="1" />
                    <button
                      class="counter__btn counter__btn--increase"
                      type="button"
                      aria-label="Вычесть"
                    >
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <rect x="8" y="4" width="1" height="15" fill="black" />
                        <rect
                          x="8"
                          y="4"
                          width="1"
                          height="15"
                          fill="black"
                          fill-opacity="0.2"
                        />
                        <rect
                          x="1"
                          y="12"
                          width="1"
                          height="15"
                          transform="rotate(-90 1 12)"
                          fill="black"
                        />
                        <rect
                          x="1"
                          y="12"
                          width="1"
                          height="15"
                          transform="rotate(-90 1 12)"
                          fill="black"
                          fill-opacity="0.2"
                        />
                      </svg>
                    </button>
                  </div>
                  <div class="cart-product__badge">SOLD OUT</div>
                  <button class="cart-product__add-fav" type="button">
                    Добавить в избранное
                  </button>
                </div>
              </div>
            </div>
          </article>
        </li>
      </ul>
    </div>
    <div class="cart-side__bottom">
      <div class="cart-side__total">
        <span class="cart-side__name">стоимость товарА(-ов):</span>
        <span class="cart-side__price">15 000 ₽</span>
      </div>
      <div class="cart-side__btns">
        <a class="cart-side__btn btn btn--white" href="#"> ОТКРЫТЬ КОРЗИНУ </a>
        <a class="cart-side__btn btn" href="#">перейти к оформлению</a>
      </div>
    </div>
  </div>

  <div class="dropmenu" data-target="link-shop">
    <div class="container">
      <div class="dropmenu__grid">
        <div class="dropmenu__col">
          <ul class="dropmenu__list">
            <li class="dropmenu__item">
              <a class="dropmenu__link">КАТАЛОГ</a>
            </li>
            <li class="dropmenu__item">
              <a class="dropmenu__link" href="#">SPORT CHIC</a>
            </li>
            <li class="dropmenu__item">
              <a class="dropmenu__link" href="#">SOL EVENING</a>
            </li>
            <li class="dropmenu__item">
              <a class="dropmenu__link" href="#">АКСЕССУАРЫ</a>
            </li>
            <li class="dropmenu__item">
              <a class="dropmenu__link" href="#">SOL VINTAGE</a>
            </li>
            <li class="dropmenu__item">
              <a class="dropmenu__link" href="#">ART GALLERY</a>
            </li>
          </ul>
        </div>
        <div class="dropmenu__col">
          <p class="dropmenu__name">ВСЕ КАТЕГОРИИ</p>
          <ul class="dropmenu__list">
            <li class="dropmenu__item">
              <a class="dropmenu__link" href="#">Блузки | Рубашки</a>
            </li>
            <li class="dropmenu__item">
              <a class="dropmenu__link" href="#">Брюки | Джинсы | Леггинсы</a>
            </li>
            <li class="dropmenu__item">
              <a class="dropmenu__link" href="#">Верхняя одежда</a>
            </li>
            <li class="dropmenu__item">
              <a class="dropmenu__link" href="#">Кимоно</a>
            </li>
            <li class="dropmenu__item">
              <a class="dropmenu__link" href="#">Нижнее белье</a>
            </li>
            <li class="dropmenu__item">
              <a class="dropmenu__link" href="#">Пиджаки | Костюмы | Жилеты</a>
            </li>
            <li class="dropmenu__item">
              <a class="dropmenu__link" href="#">Платья</a>
            </li>
            <li class="dropmenu__item">
              <a class="dropmenu__link" href="#">Футболки | Топы | Майки</a>
            </li>
            <li class="dropmenu__item">
              <a class="dropmenu__link" href="#"
                >Худи | Толстовки | Лонгсливы</a
              >
            </li>
            <li class="dropmenu__item">
              <a class="dropmenu__link" href="#">Шорты</a>
            </li>
            <li class="dropmenu__item">
              <a class="dropmenu__link" href="#">Юбки</a>
            </li>
          </ul>

          <a class="dropmenu__all" href="#">открыть все</a>
        </div>
        <div class="dropmenu__img">
          <picture>
            <source srcset="img/dropdown-shop-img.webp" type="image/webp" />
            <img src="img/dropdown-shop-img.jpg" alt="img" />
          </picture>
        </div>
      </div>
    </div>
  </div>

  <div class="dropmenu" data-target="link-customer">
    <div class="container">
      <div class="dropmenu__grid">
        <div class="dropmenu__col">
          <ul class="dropmenu__list">
            <li class="dropmenu__item">
              <a class="dropmenu__link">ПРОГРАММА ЛОЯЛЬНОСТИ</a>
            </li>
            <li class="dropmenu__item">
              <a class="dropmenu__link" href="#">GIFT CARD</a>
            </li>
            <li class="dropmenu__item">
              <a class="dropmenu__link" href="#">ДОСТАВКА И ОПЛАТА</a>
            </li>
            <li class="dropmenu__item">
              <a class="dropmenu__link" href="#">ПРАВИЛА ВОЗВРАТА</a>
            </li>
            <li class="dropmenu__item">
              <a class="dropmenu__link" href="#">КОНТАКТЫ</a>
            </li>
          </ul>
        </div>
        <div class="dropmenu__col"></div>
        <div class="dropmenu__img">
          <picture>
            <source srcset="img/dropdown-customer-img.webp" type="image/webp" />
            <img src="img/dropdown-customer-img.jpg" alt="img" />
          </picture>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="header__wrapper">
      <div class="header__right">
        <button class="header__toggle" type="button" aria-label="Открыть меню">
          <span class="header__toggle-line"></span>
        </button>

        <button class="header__search-btn" type="button">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle
              cx="11.3846"
              cy="11.3846"
              r="6.68462"
              stroke="#202020"
              stroke-width="1.4"
            />
            <path
              d="M16.3076 16.3081L19.9999 20.0004"
              stroke="#202020"
              stroke-width="1.4"
            />
          </svg>
        </button>
      </div>

      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" data-target="link-shop" href="#">МАГАЗИН</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#" data-target="link-customer"
              >ПОКУПАТЕЛЯМ</a
            >
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">О БРЕНДЕ</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">THE WORLD OF SOL</a>
          </li>
        </ul>
      </nav>

      <a class="header__logo logo" href="index.html">
        <img src="img/logo.svg" alt="logo" />
      </a>

      <div class="header-tools">
        <form class="header-tools__search">
          <label class="header-tools__label" for="search">Поиск</label>
          <input class="header-tools__input" type="text" />
        </form>
        <ul class="header-tools__list">
          <li class="header-tools__item header-tools__item--search">
            <a class="header-tools__link" href="#">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle
                  cx="11.3846"
                  cy="11.3846"
                  r="6.68462"
                  stroke="#202020"
                  stroke-width="1.4"
                />
                <path
                  d="M16.3076 16.3081L19.9999 20.0004"
                  stroke="#202020"
                  stroke-width="1.4"
                />
              </svg>
            </a>
          </li>
          <li class="header-tools__item header-tools__item--user">
            <a class="header-tools__link" href="#">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle
                  cx="11.8"
                  cy="8.8"
                  r="4.1"
                  stroke="#202020"
                  stroke-width="1.4"
                />
                <path
                  d="M3 20C5.08865 17.5576 8.25519 16 11.8 16C15.3448 16 18.5114 17.5576 20.6 20"
                  stroke="#202020"
                  stroke-width="1.4"
                />
              </svg>
            </a>
          </li>
          <li class="header-tools__item">
            <a class="header-tools__link" href="#">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11.7758 6.44051L12.2627 6.91199L12.7497 6.44049C13.2109 5.99392 14.2764 5.19383 15.5537 4.85655C16.7878 4.53069 18.2074 4.63186 19.5569 5.9383C20.9013 7.23989 20.9971 8.59385 20.6669 9.76564C20.3218 10.9906 19.5005 12.0181 19.0379 12.4658C18.519 12.9681 16.7035 14.726 15.0178 16.3582L12.7648 18.5397L12.263 19.0256L11.7613 18.5398L9.50843 16.3582C7.82284 14.726 6.00747 12.9681 5.4886 12.4658C5.02609 12.0181 4.20468 10.9905 3.85943 9.76542C3.52915 8.59349 3.62476 7.23953 4.96896 5.9381C6.31819 4.63181 7.73771 4.53068 8.97175 4.85657C10.249 5.19388 11.3146 5.99397 11.7758 6.44051Z"
                  stroke="#202020"
                  stroke-width="1.4"
                />
              </svg>
              <span class="count"> 12 </span>
            </a>
          </li>
          <li class="header-tools__item">
            <button class="header-tools__link cart-btn" type="button">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M9.57153 7.80952V6.97533C9.57153 6.29698 9.87284 5.65367 10.394 5.2194V5.2194C11.2416 4.51303 12.4729 4.51303 13.3205 5.2194V5.2194C13.8417 5.65367 14.143 6.29698 14.143 6.97533V7.80952"
                  stroke="#202020"
                  stroke-width="1.4"
                />
                <path
                  d="M18.7143 20.0002H5L6.54364 10.9956C6.70825 10.0354 7.54071 9.3335 8.51489 9.3335H15.1994C16.1736 9.3335 17.006 10.0354 17.1706 10.9956L18.7143 20.0002Z"
                  stroke="#202020"
                  stroke-width="1.4"
                />
              </svg>
              <span class="count"> 12 </span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
