<section class="history-order">
  <h2 class="history-order__title">История заказов</h2>
  <div class="order-box">
    <div class="order-box__top">
      <span class="order-box__number">Заказ 1234-5678</span>
      <span class="order-box__date">5 апреля</span>
    </div>
    <div class="order-box__inner">
      <ul class="order-box__list">
        <li class="order-box__item">
          <article class="order-card">
            <div class="order-card__left">
              <picture>
                <source srcset="img/order.webp" type="image/webp" />
                <img src="img/order.png" alt="order" />
              </picture>
            </div>
            <div class="order-card__right">
              <div class="order-card__top">
                <h3 class="order-card__title">
                  Накидка из плиссированной сетчатой ткани
                </h3>
                <span class="order-card__price">15 000 ₽</span>
              </div>

              <div class="order-card__details">
                <span class="order-card__color">
                  <div class="order-card__circle"></div>
                  <span>Молочный</span>
                </span>
                <span class="order-card__size">XS</span>
              </div>

              <span class="order-card__count">x1</span>
            </div>
          </article>
        </li>
        <li class="order-box__item">
          <article class="order-card">
            <div class="order-card__left">
              <picture>
                <source srcset="img/order.webp" type="image/webp" />
                <img src="img/order.png" alt="order" />
              </picture>
            </div>
            <div class="order-card__right">
              <div class="order-card__top">
                <h3 class="order-card__title">
                  Накидка из плиссированной сетчатой ткани
                </h3>
                <span class="order-card__price">15 000 ₽</span>
              </div>

              <div class="order-card__details">
                <span class="order-card__color">
                  <div class="order-card__circle"></div>
                  <span>Молочный</span>
                </span>
                <span class="order-card__size">XS</span>
              </div>

              <span class="order-card__count">x1</span>
            </div>
          </article>
        </li>
      </ul>
      <div class="order-box__right">
        <div class="order-payment">
          <span class="order-payment__name">Способ оплаты</span>
          <div class="order-payment__inner">
            <span class="order-payment__text">Картой онлайн</span>
            <span class="order-payment__text">7 500 ₽, оплачено</span>
          </div>
        </div>
        <div class="order-receiving">
          <span class="order-payment__name">Способ оплаты</span>
          <div class="order-receiving__inner">
            <span class="order-payment__text">Доставка курьером</span>
            <span class="order-payment__text">0 ₽, оплачено</span>
          </div>
          <span>в четверг, 17 декабря с 09:00 до 18:00</span>
        </div>
        <div class="order-data">
          <span class="order-data__name">данные покупателя</span>
          <p>Нестерова Виктория</p>
          <p>+7 902 887 97 78</p>
          <p>Москва, ул. Новое шоссе, д.3к2,17</p>
        </div>

        <button class="order-box__btn btn" type="button">
          ОТСЛЕДИТЬ ЗАКАЗ
        </button>
      </div>
    </div>
  </div>
  <div class="order-box">
    <div class="order-box__top">
      <span class="order-box__number">Заказ 1234-5678</span>
      <span class="order-box__date">5 апреля</span>
    </div>
    <div class="order-box__inner">
      <ul class="order-box__list">
        <li class="order-box__item">
          <article class="order-card">
            <div class="order-card__left">
              <picture>
                <source srcset="img/order.webp" type="image/webp" />
                <img src="img/order.png" alt="order" />
              </picture>
            </div>
            <div class="order-card__right">
              <div class="order-card__top">
                <h3 class="order-card__title">
                  Накидка из плиссированной сетчатой ткани
                </h3>
                <span class="order-card__price">15 000 ₽</span>
              </div>

              <div class="order-card__details">
                <span class="order-card__color">
                  <div class="order-card__circle"></div>
                  <span>Молочный</span>
                </span>
                <span class="order-card__size">XS</span>
              </div>

              <span class="order-card__count">x1</span>
            </div>
          </article>
        </li>
        <li class="order-box__item">
          <article class="order-card">
            <div class="order-card__left">
              <picture>
                <source srcset="img/order.webp" type="image/webp" />
                <img src="img/order.png" alt="order" />
              </picture>
            </div>
            <div class="order-card__right">
              <div class="order-card__top">
                <h3 class="order-card__title">
                  Накидка из плиссированной сетчатой ткани
                </h3>
                <span class="order-card__price">15 000 ₽</span>
              </div>

              <div class="order-card__details">
                <span class="order-card__color">
                  <div class="order-card__circle"></div>
                  <span>Молочный</span>
                </span>
                <span class="order-card__size">XS</span>
              </div>

              <span class="order-card__count">x1</span>
            </div>
          </article>
        </li>
      </ul>
      <div class="order-box__right">
        <div class="order-payment">
          <span class="order-payment__name">Способ оплаты</span>
          <div class="order-payment__inner">
            <span class="order-payment__text">Картой онлайн</span>
            <span class="order-payment__text">7 500 ₽, оплачено</span>
          </div>
        </div>
        <div class="order-receiving">
          <span class="order-payment__name">Способ оплаты</span>
          <div class="order-receiving__inner">
            <span class="order-payment__text">Доставка курьером</span>
            <span class="order-payment__text">0 ₽, оплачено</span>
          </div>
          <span>в четверг, 17 декабря с 09:00 до 18:00</span>
        </div>
        <div class="order-data">
          <span class="order-data__name">данные покупателя</span>
          <p>Нестерова Виктория</p>
          <p>+7 902 887 97 78</p>
          <p>Москва, ул. Новое шоссе, д.3к2,17</p>
        </div>

        <button class="order-box__btn btn" type="button">
          ОТСЛЕДИТЬ ЗАКАЗ
        </button>
      </div>
    </div>
  </div>
</section>
