<section class="history">
  <div class="container">
    <div class="section-top">
      <span class="section-top__text">история бренда</span>
      <h2 class="section-top__title">
        sol когда-то начался <br />
        с чепчика <span></span> и косынки
      </h2>
    </div>

    <div class="history__wrapper">
      <div class="history__text">
        <p>
          Будучи начинающим фотографом, Ольга экспериментировала с реквизитами
          для fashion-съемок, и вместе со вскоре ставшей первой портной SOL
          изготовила экспериментальные изделия из лоскутов кожи и ткани,
          привезенных с Бали.
        </p>
        <p>
          Постепенно увеличиваясь и переехав из небольшого шоурума-мастерской на
          мансарде здания старинного банка в помещение побольше, SOL вырос до
          собственного швейного цеха и просторного шоурума на Пресне.
        </p>
      </div>

      <div class="history__img">
        <picture>
          <source srcset="img/history-img.webp" type="image/webp" />
          <img src="img/history-img.png" alt="img" />
        </picture>
      </div>
    </div>
  </div>
</section>
