<section class="login">
  <div class="container">
    <h1 class="login__title">Войти в личный кабинет</h1>

    <div class="login__wrapper">
      <form class="login-form form-submit">
        <label class="form-submit__group">
          <input
            class="form-submit__input"
            type="tel"
            placeholder="+7 (000) 000 00 00"
          />
        </label>
        <label class="form-submit__group">
          <input
            class="form-submit__input"
            type="password"
            placeholder="Пароль"
          />
        </label>

        <button class="form-submit__forgot btn-reset-pas">
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="2.6"
              y="6.1"
              width="10.8"
              height="6.8"
              stroke="black"
              stroke-width="1.2"
            />
            <path
              d="M10.4004 5.5V5C10.4004 3.61929 9.2811 2.5 7.90039 2.5V2.5C6.51968 2.5 5.40039 3.61929 5.40039 5V5.5"
              stroke="black"
              stroke-width="1.2"
            />
            <line
              x1="8.00039"
              y1="8"
              x2="8.00039"
              y2="11"
              stroke="black"
              stroke-width="1.2"
            />
          </svg>

          <span> Забыли пароль?</span>
        </button>

        <button class="form-submit__btn btn" type="button">ВОЙТИ</button>

        <a class="form-submit__link" href="registration.html">
          Зарегистрироваться
        </a>
      </form>
    </div>
  </div>
</section>
