<section class="news">
  <div class="container">
    <h2 class="visually-hidden">Новости</h2>

    <div class="news-tab">
      <div class="news-tab__top">
        <ul class="news-tab__top-list">
          <li class="news-tab__top-item">
            <button class="news-tab__top-btn active" type="button">
              Все новости
            </button>
          </li>
          <li class="news-tab__top-item">
            <button class="news-tab__top-btn" type="button">мероприятия</button>
          </li>
          <li class="news-tab__top-item">
            <button class="news-tab__top-btn" type="button">журнал</button>
          </li>
          <li class="news-tab__top-item">
            <button class="news-tab__top-btn" type="button">
              архив коллекций
            </button>
          </li>
        </ul>
      </div>

      <div class="news-tab__content active">
        <ul class="news-tab__list">
          <li class="news-tab__item">
            <article class="blog-card">
              <a class="blog-card__top" href="#">
                <picture>
                  <source srcset="img/blog/1.webp" type="image/webp" />
                  <img src="img/blog/1.jpg" alt="img" />
                </picture>
              </a>

              <div class="blog-card__body">
                <span class="blog-card__name">статья</span>
                <h3 class="blog-card__title">
                  <a href="#">
                    Заголовок статьи заголовок статьи заголовок статьи
                  </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="news-tab__item">
            <article class="blog-card">
              <a class="blog-card__top" href="#">
                <picture>
                  <source srcset="img/blog/2.webp" type="image/webp" />
                  <img src="img/blog/2.jpg" alt="img" />
                </picture>
              </a>

              <div class="blog-card__body">
                <span class="blog-card__name">мероприятие</span>
                <h3 class="blog-card__title">
                  <a href="#">
                    Заголовок статьи заголовок статьи заголовок статьи
                  </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="news-tab__item">
            <article class="blog-card">
              <a class="blog-card__top" href="#">
                <picture>
                  <source srcset="img/blog/3.webp" type="image/webp" />
                  <img src="img/blog/3.jpg" alt="img" />
                </picture>
              </a>

              <div class="blog-card__body">
                <span class="blog-card__name">анонс коллекции</span>
                <h3 class="blog-card__title">
                  <a href="#">
                    Заголовок статьи заголовок статьи заголовок статьи
                  </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="news-tab__item">
            <article class="blog-card">
              <a class="blog-card__top" href="#">
                <picture>
                  <source srcset="img/blog/4.webp" type="image/webp" />
                  <img src="img/blog/4.jpg" alt="img" />
                </picture>
              </a>

              <div class="blog-card__body">
                <span class="blog-card__name">статья</span>
                <h3 class="blog-card__title">
                  <a href="#">
                    Заголовок статьи заголовок статьи заголовок статьи
                  </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="news-tab__item">
            <article class="blog-card">
              <a class="blog-card__top" href="#">
                <picture>
                  <source srcset="img/blog/5.webp" type="image/webp" />
                  <img src="img/blog/5.jpg" alt="img" />
                </picture>
              </a>

              <div class="blog-card__body">
                <span class="blog-card__name">анонс коллекции</span>
                <h3 class="blog-card__title">
                  <a href="#">
                    Заголовок статьи заголовок статьи заголовок статьи
                  </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="news-tab__item">
            <article class="blog-card">
              <a class="blog-card__top" href="#">
                <picture>
                  <source srcset="img/blog/6.webp" type="image/webp" />
                  <img src="img/blog/6.jpg" alt="img" />
                </picture>
              </a>

              <div class="blog-card__body">
                <span class="blog-card__name">статья</span>
                <h3 class="blog-card__title">
                  <a href="#">
                    Заголовок статьи заголовок статьи заголовок статьи
                  </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="news-tab__item">
            <article class="blog-card">
              <a class="blog-card__top" href="#">
                <picture>
                  <source srcset="img/blog/7.webp" type="image/webp" />
                  <img src="img/blog/7.jpg" alt="img" />
                </picture>
              </a>

              <div class="blog-card__body">
                <span class="blog-card__name">анонс коллекции</span>
                <h3 class="blog-card__title">
                  <a href="#">
                    Заголовок статьи заголовок статьи заголовок статьи
                  </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="news-tab__item">
            <article class="blog-card">
              <a class="blog-card__top" href="#">
                <picture>
                  <source srcset="img/blog/8.webp" type="image/webp" />
                  <img src="img/blog/8.jpg" alt="img" />
                </picture>
              </a>

              <div class="blog-card__body">
                <span class="blog-card__name">статья</span>
                <h3 class="blog-card__title">
                  <a href="#">
                    Заголовок статьи заголовок статьи заголовок статьи
                  </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="news-tab__item">
            <article class="blog-card">
              <a class="blog-card__top" href="#">
                <picture>
                  <source srcset="img/blog/9.webp" type="image/webp" />
                  <img src="img/blog/9.jpg" alt="img" />
                </picture>
              </a>

              <div class="blog-card__body">
                <span class="blog-card__name">мероприятие</span>
                <h3 class="blog-card__title">
                  <a href="#">
                    Заголовок статьи заголовок статьи заголовок статьи
                  </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="news-tab__item">
            <article class="blog-card">
              <a class="blog-card__top" href="#">
                <picture>
                  <source srcset="img/blog/10.webp" type="image/webp" />
                  <img src="img/blog/10.jpg" alt="img" />
                </picture>
              </a>

              <div class="blog-card__body">
                <span class="blog-card__name">анонс коллекции</span>
                <h3 class="blog-card__title">
                  <a href="#">
                    Заголовок статьи заголовок статьи заголовок статьи
                  </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="news-tab__item">
            <article class="blog-card">
              <a class="blog-card__top" href="#">
                <picture>
                  <source srcset="img/blog/11.webp" type="image/webp" />
                  <img src="img/blog/11.jpg" alt="img" />
                </picture>
              </a>

              <div class="blog-card__body">
                <span class="blog-card__name">анонс коллекции</span>
                <h3 class="blog-card__title">
                  <a href="#">
                    Заголовок статьи заголовок статьи заголовок статьи
                  </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="news-tab__item">
            <article class="blog-card">
              <a class="blog-card__top" href="#">
                <picture>
                  <source srcset="img/blog/12.webp" type="image/webp" />
                  <img src="img/blog/12.jpg" alt="img" />
                </picture>
              </a>

              <div class="blog-card__body">
                <span class="blog-card__name">статья</span>
                <h3 class="blog-card__title">
                  <a href="#">
                    Заголовок статьи заголовок статьи заголовок статьи
                  </a>
                </h3>
              </div>
            </article>
          </li>
        </ul>
      </div>
      <div class="news-tab__content">
        <ul class="news-tab__list">
          <li class="news-tab__item">
            <article class="blog-card">
              <a class="blog-card__top" href="#">
                <picture>
                  <source srcset="img/blog/2.webp" type="image/webp" />
                  <img src="img/blog/2.jpg" alt="img" />
                </picture>
              </a>

              <div class="blog-card__body">
                <span class="blog-card__name">мероприятие</span>
                <h3 class="blog-card__title">
                  <a href="#">
                    Заголовок статьи заголовок статьи заголовок статьи
                  </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="news-tab__item">
            <article class="blog-card">
              <a class="blog-card__top" href="#">
                <picture>
                  <source srcset="img/blog/9.webp" type="image/webp" />
                  <img src="img/blog/9.jpg" alt="img" />
                </picture>
              </a>

              <div class="blog-card__body">
                <span class="blog-card__name">мероприятие</span>
                <h3 class="blog-card__title">
                  <a href="#">
                    Заголовок статьи заголовок статьи заголовок статьи
                  </a>
                </h3>
              </div>
            </article>
          </li>
        </ul>
      </div>
      <div class="news-tab__content">
        <ul class="news-tab__list">
          <li class="news-tab__item">
            <article class="blog-card">
              <a class="blog-card__top" href="#">
                <picture>
                  <source srcset="img/blog/1.webp" type="image/webp" />
                  <img src="img/blog/1.jpg" alt="img" />
                </picture>
              </a>

              <div class="blog-card__body">
                <span class="blog-card__name">статья</span>
                <h3 class="blog-card__title">
                  <a href="#">
                    Заголовок статьи заголовок статьи заголовок статьи
                  </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="news-tab__item">
            <article class="blog-card">
              <a class="blog-card__top" href="#">
                <picture>
                  <source srcset="img/blog/4.webp" type="image/webp" />
                  <img src="img/blog/4.jpg" alt="img" />
                </picture>
              </a>

              <div class="blog-card__body">
                <span class="blog-card__name">статья</span>
                <h3 class="blog-card__title">
                  <a href="#">
                    Заголовок статьи заголовок статьи заголовок статьи
                  </a>
                </h3>
              </div>
            </article>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
