<section class="news-top">
  <div class="container">
    <h1 class="news-top__title">The world <span>of</span> sol</h1>

    <div class="news-top__info">
      <div class="news-top__img"></div>
      <h3 class="news-top__heading">Анонс какого-то мероприятия или статьи</h3>
      <p class="news-top__text">
        SOL когда-то начался с чепчика и косынки для fashion съёмки — теперь наш
        бренд славится утонченными и концептуальными аксессуарами
      </p>
      <a class="news-top__link" href="#">УЗНАТЬ ПОДРОБНЕЕ</a>
    </div>
  </div>
</section>
