<section class="our-blog">
  <div class="container">
    <div class="section-top">
      <span class="section-top__text">НАШ БЛОГ</span>
      <h2 class="section-top__title">The world <span>of</span> SOL</h2>
    </div>
    <div class="our-blog__top">
      <div class="our-blog__img"></div>

      <div class="our-blog__info">
        <h3 class="our-blog__title">Анонс какого-то мероприятия или статьи</h3>
        <p class="our-blog__text">
          SOL когда-то начался с чепчика и косынки для fashion съёмки — теперь
          наш бренд славится утонченными и концептуальными аксессуарами
        </p>
        <a class="our-blog__link" href="#">УЗНАТЬ ПОДРОБНЕЕ</a>
      </div>

      <ul class="our-blog__list">
        <li class="our-blog__item">
          <article class="blog-card">
            <a class="blog-card__top" href="#">
              <picture>
                <source srcset="img/blog/1.webp" type="image/webp" />
                <img src="img/blog/1.jpg" alt="img" />
              </picture>
            </a>

            <div class="blog-card__body">
              <span class="blog-card__name">статья</span>
              <h3 class="blog-card__title">
                <a href="#">
                  Заголовок статьи заголовок статьи заголовок статьи
                </a>
              </h3>
            </div>
          </article>
        </li>
        <li class="our-blog__item">
          <article class="blog-card">
            <a class="blog-card__top" href="#">
              <picture>
                <source srcset="img/blog/2.webp" type="image/webp" />
                <img src="img/blog/2.jpg" alt="img" />
              </picture>
            </a>

            <div class="blog-card__body">
              <span class="blog-card__name">мероприятие</span>
              <h3 class="blog-card__title">
                <a href="#">
                  Заголовок статьи заголовок статьи заголовок статьи
                </a>
              </h3>
            </div>
          </article>
        </li>
        <li class="our-blog__item">
          <article class="blog-card">
            <a class="blog-card__top" href="#">
              <picture>
                <source srcset="img/blog/3.webp" type="image/webp" />
                <img src="img/blog/3.jpg" alt="img" />
              </picture>
            </a>

            <div class="blog-card__body">
              <span class="blog-card__name">анонс коллекции</span>
              <h3 class="blog-card__title">
                <a href="#">
                  Заголовок статьи заголовок статьи заголовок статьи
                </a>
              </h3>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
