<div class="popup popup--sizes">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="popup__wrapper">
      <div class="popup-sizes">
        <div class="popup-sizes__top">
          <span class="popup-sizes__title"> Выбор размера </span>
          <p class="popup-sizes__text">
            Чтобы подобрать наиболее подходящий размер, рекомендуем сравнить
            указанные параметры с вашими собственными измерениями.
            Воспользуйтесь нашим помощником подбора размера.
          </p>
        </div>
        <div class="popup-sizes__table">
          <div class="popup-sizes__inner">
            <div class="popup-sizes__row">
              <div class="popup-sizes__item">Размер</div>
              <div class="popup-sizes__item">Грудь</div>
              <div class="popup-sizes__item">Талия</div>
              <div class="popup-sizes__item">Бедра</div>
              <div class="popup-sizes__item">Рукава</div>
              <div class="popup-sizes__item">Длина</div>
            </div>
            <div class="popup-sizes__row">
              <div class="popup-sizes__item">XS/34</div>
              <div class="popup-sizes__item">84</div>
              <div class="popup-sizes__item">66</div>
              <div class="popup-sizes__item">90</div>
              <div class="popup-sizes__item">59</div>
              <div class="popup-sizes__item">111</div>
            </div>
            <div class="popup-sizes__row">
              <div class="popup-sizes__item">S/36</div>
              <div class="popup-sizes__item">88</div>
              <div class="popup-sizes__item">70</div>
              <div class="popup-sizes__item">94</div>
              <div class="popup-sizes__item">60</div>
              <div class="popup-sizes__item">112</div>
            </div>
            <div class="popup-sizes__row">
              <div class="popup-sizes__item">M/40</div>
              <div class="popup-sizes__item">92</div>
              <div class="popup-sizes__item">74</div>
              <div class="popup-sizes__item">98</div>
              <div class="popup-sizes__item">60</div>
              <div class="popup-sizes__item">113</div>
            </div>
            <div class="popup-sizes__row">
              <div class="popup-sizes__item">L/44</div>
              <div class="popup-sizes__item">100</div>
              <div class="popup-sizes__item">86</div>
              <div class="popup-sizes__item">106</div>
              <div class="popup-sizes__item">61</div>
              <div class="popup-sizes__item">114</div>
            </div>
            <div class="popup-sizes__row">
              <div class="popup-sizes__item">XL/46</div>
              <div class="popup-sizes__item">104</div>
              <div class="popup-sizes__item">90</div>
              <div class="popup-sizes__item">110</div>
              <div class="popup-sizes__item">61</div>
              <div class="popup-sizes__item">115</div>
            </div>
            <div class="popup-sizes__row">
              <div class="popup-sizes__item">XXL/48</div>
              <div class="popup-sizes__item">110</div>
              <div class="popup-sizes__item">94</div>
              <div class="popup-sizes__item">114</div>
              <div class="popup-sizes__item">62</div>
              <div class="popup-sizes__item">116</div>
            </div>
          </div>
          <p class="popup-sizes__note">
            * Длина измеряется от талии до пола по бокам
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popup popup--pre-order">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="popup__wrapper">
      <div class="popup__top">
        <span class="popup__title"> Оформить предзаказ </span>
        <p class="popup__text">
          Заполните контакты ниже, и мы оповестим Вас о поступлении товара в
          магазин.
        </p>
      </div>

      <form class="popup__form popup-form">
        <label class="popup-form__group">
          <input
            class="popup-form__input"
            type="tel"
            placeholder="+7 000 000 00 00"
          />
        </label>
        <label class="popup-form__group">
          <input
            class="popup-form__input"
            type="email"
            placeholder="example@yoursite.com"
          />
        </label>

        <button class="popup-form__btn btn" type="button">ПРЕДЗАКАЗ</button>

        <p class="popup-form__text">
          Нажимая на кнопку, вы подтверждаете своё согласие с
          <a href="#">Политикой конфиденциальности</a>
        </p>
      </form>
    </div>
  </div>
</div>
