<section class="products-slider">
  <div class="container">
    <div class="section-top">
      <span class="section-top__text">НОВИНКИ</span>
      <h2 class="section-top__title">NEW</h2>
    </div>

    <div class="products-slider__slider swiper">
      <ul class="products-slider__slides swiper-wrapper">
        <li class="products-slider__slide swiper-slide">
          <article class="product-card">
            <a class="product-card__top" href="#">
              <div class="product-card__badge">New</div>
              <picture>
                <source srcset="img/products/1.webp" type="image/webp" />
                <img src="img/products/1.png" alt="img" />
              </picture>
            </a>
            <div class="product-card__body">
              <h3 class="product-card__title">
                <a href="#">БЛУЗКА COCO BLACK LACE</a>
              </h3>
              <span class="product-card__price">7 500 ₽</span>
            </div>
          </article>
        </li>
        <li class="products-slider__slide swiper-slide">
          <article class="product-card">
            <a class="product-card__top" href="#">
              <div class="product-card__badge">New</div>
              <picture>
                <source srcset="img/products/2.webp" type="image/webp" />
                <img src="img/products/2.png" alt="img" />
              </picture>
            </a>
            <div class="product-card__body">
              <h3 class="product-card__title">
                <a href="#">БЛУЗКА COCO BLACK LACE</a>
              </h3>
              <span class="product-card__price">7 500 ₽</span>
            </div>
          </article>
        </li>
        <li class="products-slider__slide swiper-slide">
          <article class="product-card">
            <a class="product-card__top" href="#">
              <div class="product-card__badge">New</div>
              <picture>
                <source srcset="img/products/3.webp" type="image/webp" />
                <img src="img/products/3.png" alt="img" />
              </picture>
            </a>
            <div class="product-card__body">
              <h3 class="product-card__title">
                <a href="#">БЛУЗКА COCO BLACK LACE</a>
              </h3>
              <span class="product-card__price">7 500 ₽</span>
            </div>
          </article>
        </li>
        <li class="products-slider__slide swiper-slide">
          <article class="product-card">
            <a class="product-card__top" href="#">
              <div class="product-card__badge">New</div>
              <picture>
                <source srcset="img/products/1.webp" type="image/webp" />
                <img src="img/products/1.png" alt="img" />
              </picture>
            </a>
            <div class="product-card__body">
              <h3 class="product-card__title">
                <a href="#">БЛУЗКА COCO BLACK LACE</a>
              </h3>
              <span class="product-card__price">7 500 ₽</span>
            </div>
          </article>
        </li>
        <li class="products-slider__slide swiper-slide">
          <article class="product-card">
            <a class="product-card__top" href="#">
              <div class="product-card__badge">New</div>
              <picture>
                <source srcset="img/products/2.webp" type="image/webp" />
                <img src="img/products/2.png" alt="img" />
              </picture>
            </a>
            <div class="product-card__body">
              <h3 class="product-card__title">
                <a href="#">БЛУЗКА COCO BLACK LACE</a>
              </h3>
              <span class="product-card__price">7 500 ₽</span>
            </div>
          </article>
        </li>
        <li class="products-slider__slide swiper-slide">
          <article class="product-card">
            <a class="product-card__top" href="#">
              <div class="product-card__badge">New</div>
              <picture>
                <source srcset="img/products/3.webp" type="image/webp" />
                <img src="img/products/3.png" alt="img" />
              </picture>
            </a>
            <div class="product-card__body">
              <h3 class="product-card__title">
                <a href="#">БЛУЗКА COCO BLACK LACE</a>
              </h3>
              <span class="product-card__price">7 500 ₽</span>
            </div>
          </article>
        </li>
      </ul>

      <button
        class="swiper-button-prev"
        type="button"
        aria-label="Предыдущий"
      ></button>
      <button
        class="swiper-button-next"
        type="button"
        aria-label="Следующий"
      ></button>
    </div>
  </div>
</section>
