<section class="showroom">
  <div class="container">
    <div class="showroom__wrapper">
      <h2 class="showroom__title">Шоурум SOL И SOL Concept Club</h2>
      <p class="showroom__text">
        Наш шоурум сложно назвать магазином, слово арт-пространство подходит ему
        больше . Это наш второй дом, потому здесь всё с душой и бушует реальная
        жизнь: создаются картины, принты для коллекций, мы проводим здесь съёмки
        — иногда вы можете прийти сюда и стать свидетелем, а может быть, и
        участником.
      </p>

      <div class="showroom__preview"></div>
    </div>
  </div>
</section>

<div class="showroom-descr">
  <div class="container">
    <div class="showroom-descr__cols">
      <div class="showroom-descr__left">
        <picture>
          <source srcset="img/showroom/2.webp" type="image/webp" />
          <img class="showroom-descr__img" src="img/showroom/2.jpg" alt="img" />
        </picture>
      </div>
      <div class="showroom-descr__right">
        <p class="showroom-descr__text">
          Шоурум — это также пространство для нашего комьюнити SOL Concept Club.
          Вы можете стать частью нашего сообщества, посетив клиентский день,
          кинопросмотр, лекцию, творческий мастер-класс, прийдя на вечеринку или
          на практику йоги! Атмосфера сообщества лёгкая, доброжелательная и
          весёлая.
        </p>
        <picture>
          <source srcset="img/showroom/3.webp" type="image/webp" />
          <img
            class="showroom-descr__img showroom-descr__img--small"
            src="img/showroom/3.jpg"
            alt="img"
          />
        </picture>
      </div>
    </div>
  </div>
</div>
