<section class="values">
  <div class="container">
    <div class="values__top section-top">
      <span class="section-top__text">НАШИ ЦЕННОСТИ</span>
      <h2 class="section-top__title">
        «Лучше одна качественная, дорогая вещь, чем несколько дешёвых и
        второсортных»
      </h2>
    </div>

    <p class="values__text">
      Качество пошива и материалов мы ставим во главу угла, потому иной раз
      неочевидно, где в наших изделиях изнанка, а где лицо. Мы создаём коллекции
      со смыслом, небольшим тиражом, вовлекая в процесс много кропотливой ручной
      работы, в которую каждый член команды SOL вкладывает любовь и заботу о
      вас.
    </p>

    <div class="values__slider swiper">
      <ul class="values__slides swiper-wrapper">
        <li class="values__slide swiper-slide">
          <div class="values__imgs">
            <div class="values__img">
              <picture>
                <source srcset="img/values/1.webp" type="image/webp" />
                <img src="img/values/1.jpg" alt="img" />
              </picture>
            </div>
            <div class="values__img values__img--small">
              <picture>
                <source srcset="img/values/2.webp" type="image/webp" />
                <img src="img/values/2.jpg" alt="img" />
              </picture>
            </div>
          </div>
        </li>
        <li class="values__slide swiper-slide">
          <div class="values__imgs">
            <div class="values__img">
              <picture>
                <source srcset="img/values/1.webp" type="image/webp" />
                <img src="img/values/1.jpg" alt="img" />
              </picture>
            </div>
            <div class="values__img values__img--small">
              <picture>
                <source srcset="img/values/2.webp" type="image/webp" />
                <img src="img/values/2.jpg" alt="img" />
              </picture>
            </div>
          </div>
        </li>
        <li class="values__slide swiper-slide">
          <div class="values__imgs">
            <div class="values__img">
              <picture>
                <source srcset="img/values/1.webp" type="image/webp" />
                <img src="img/values/1.jpg" alt="img" />
              </picture>
            </div>
            <div class="values__img values__img--small">
              <picture>
                <source srcset="img/values/2.webp" type="image/webp" />
                <img src="img/values/2.jpg" alt="img" />
              </picture>
            </div>
          </div>
        </li>
      </ul>

      <div class="swiper-pagination"></div>

      <button
        class="swiper-button-next"
        type="button"
        aria-label="Следующий"
      ></button>
      <button
        class="swiper-button-prev"
        type="button"
        aria-label="Следующий"
      ></button>
    </div>
  </div>
</section>
